<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11619A38-D569-427B-94E1-9F5B3CFBA437</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marc Görtz</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>[MG] Start default apps v1.1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>start</string>
				<key>text</key>
				<string>Start default applications</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0599899-ADDA-4673-96A5-3A353EF86396</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Dropbox.app</string>
					<string>/Applications/Tictoc.app</string>
					<string>/Applications/Mail.app</string>
					<string>/Applications/Skype.app</string>
					<string>/Applications/Adium.app</string>
					<string>/Applications/Sublime Text 2.app</string>
					<string>/Applications/Utilities/Terminal.app</string>
					<string>/Applications/Tweetbot.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://webplatformdaily.org/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11619A38-D569-427B-94E1-9F5B3CFBA437</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11619A38-D569-427B-94E1-9F5B3CFBA437</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>BA485DB9-5D5D-4C39-B037-F0F78AF590A3</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C0599899-ADDA-4673-96A5-3A353EF86396</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://marcgoertz.de/</string>
</dict>
</plist>
